<h1>Awesome Artists</h1>
<% @artists.each do |artist| %>
  <div class="card-artist">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-artist-infos">
      <h2>Ismahane Tabet Aoul</h2>
      <p>Fashion & portrait  PHOTOGRAPHER</p>
    </div>
  </div>
<% end %>
